html
	body(style="width:3cm; height:7cm; font-size: 8px;")
		h1 Tavolo #{table}
		ul(style="list-style:none; margin:0; padding:0;")
			each item in order
				li= item.quantity + "x " + item.food.name
				span(style="text-transform: uppercase; font-size: 6px")= item.note
